<!DOCTYPE html>
<html lang="en">
  <body>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css')}}"
    />
    <div class="switchDiv">
      <h1>Public Sector Dashboard</h1>
      <label class="switch">
        <input id="toggleButton" type="checkbox" />
        <span class="slider"></span>
      </label>
      <h1>DoD Dashboard</h1>
    </div>
    <iframe
      id="dodDashboard"
      class="dodDashboard"
      src="{{ dod_dashboard_url }}"
      width="100%"
      height="600"
      frameborder="0"
    >
    </iframe>
    <iframe
      id="pubSecDashboard"
      class="pubSecDashboard"
      src="{{ pubsec_dashboard_url }}"
      width="100%"
      height="600"
      frameborder="0"
    >
    </iframe>
    <script>
      // Example using CSS display property
      const toggleButton = document.getElementById("toggleButton");
      const dodDashboard = document.getElementById("dodDashboard");
      const pubSecDashboard = document.getElementById("pubSecDashboard");

      toggleButton.addEventListener("change", (e) => {
        isToggled = e.srcElement.checked;
        dodDashboard.style.display = isToggled ? "block" : "none";
        pubSecDashboard.style.display = isToggled ? "none" : "block";
      });
    </script>
  </body>
</html>
